config SHIELD_THORIUM_RESET
    def_bool $(shields_list_contains,thorium_reset)

config SHIELD_THORIUM_RESET_LEFT
    def_bool $(shields_list_contains,thorium_reset_left)

config SHIELD_THORIUM_RESET_RIGHT
    def_bool $(shields_list_contains,thorium_reset_right)
