config SHIELD_THORIUM_RESET_DONGLE
    def_bool $(shields_list_contains,thorium_reset_dongle)

config SHIELD_THORIUM_RESET_LEFT
    def_bool $(shields_list_contains,thorium_reset_left)

config SHIELD_THORIUM_RESET_RIGHT
    def_bool $(shields_list_contains,thorium_reset_right)
